{% extends 'main.html' %}
{% block content %}
    <h1 align="center">Register</h1>
    <p align="center"><i>If you would like to remain anonymous, don't enter your name to the username field</i></p>
    <form method="POST">
        {% csrf_token %}
        <p align="center">If you already have an account, please <a href="/login"><strong>login</strong></a>.</p>
        {{ form.as_p }}
        <button class="btn blue-grey darken-1"type="submit" value="submit" style="float: right;">Register</button>
    </form>
{% endblock %}