<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
<div class="navbar-fixed">
  <nav class="blue-grey lighten-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">NAHS 2019</a>
      <ul class="right hide-on-med-and-down">
        <li {% if request.path == '/' %}class="active" {% else %}class=""{% endif %}><a href="/">News</a></li>
        <li {% if request.path == '/forums/' %}class="active" {% else %}class=""{% endif %}><a href="/forums">Community</a></li>
        {% if user.is_authenticated %}
          <li {% if request.path == '/account/' %}class="active" {% else %}class=""{% endif %}><a href="/account">{{ user.username }}</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li {% if request.path == '/login/' %}class="active" {% else %}class=""{% endif %}><a href="/login">Login</a></li>
          <li {% if request.path == '/register/' %}class="active" {% else %}class=""{% endif %}><a href="/register">Register</a>
        {% endif %}
      </ul>
    </div>
   </nav>
  </div>